/*
header{
    background: #2c3e50;
    color:#fff;
}

.main{
    background: #f2f2f2;
}

.color1{
    background: #34495e;
    color: #ffff;
}
aside{
    background: #c0392b;
    color: #ffff;
}
footer{
    background: #16a085;
    color: #ffff;
}
*/



.custom_navbar_font {
    margin-top: 20px;
    font-size:medium; 
    color:rgb(1,99,59); 
    font-weight:600;
}

.dropdown-menu.custom-font {
    margin-top: 0px;
    font-size:medium; 
    color:rgb(1,99,59); 
    font-weight:600;
    border-color: transparent;
}

.dropdown-divider.custom-shape {
    margin-top: -10px;
    width: 200px;
    height: 5px;
    background-color: rgb(1,99,59);
}

.custom-header-bar {
    width: auto;
    height: 1px;
    background-color: rgb(200,200, 200);
}

.dropdown-item {
    margin: 10px;
    font-weight: 600;
}

.custom-lupa-style {
    margin-top: 12px;
}

.d-block.custom-margin {
    margin: 100px;
}

.custom-paragraph {
    text-align: center;
    font-size: 15px;
    color:gray;
}

.custom-enphasis-paragraph {
    font-weight: bolder;
    font-size:31px;
    text-align: center;
}

.custom-meso-img {
    /* margin-left: 150px;*/
    text-align: center;
}

.custom-meso-space {
    width: 10px;
    height: 30px;
}

.custom-meso-space-before {
    width:10px;
    height:115px;
}

.d-block.img-custom-up {
    margin-top: 44px;
}

.d-block.custom-left {
    margin-left:120px;
}

.sede-custom-paragraph {
    margin-top: 25px;
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
}

.nc-button {
    background-color: rgb(1,99,59);
    color: white;
    border-radius: 3px;
    border:rgb(1,99,59);
    height:20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nc-button.zoom {
    padding:50;
    transition:transform .2s;
    margin:0 auto;
    transform: scale(2.6);
}

.zoom:hover {
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nc-div-class {
    margin-top: 34px;
    text-align: center;
}

.form-container {
    margin-left: 410px;
    margin-right: 410px;
    text-align: center;
}

.h2-form {
    margin-top: 50px;
    text-align: left;
    font-size: 27px;
    font-style: normal;
}

input[type="text"] {
    font-size:15px;
    background-color: rgb(238,238,238);
    border: rgb(238,238,238);
}

.row.custom-space {
    margin-top:35px;
}

.form-control.custom-size {
    height: 150px;
    font-size:15px;
    background-color: rgb(238,238,238);
    border: rgb(238,238,238);
    content:'';
}

.nc-div-class.send-class {
    text-align: right;
    margin-right: 30px;
}

.custom-cnc-p {
    color:white;
    text-align: center;
    font-size: 30px;
}

.custom-cnc-margin {
    margin-top: 150px;
}

.custom-cnc-margin.two {
    margin-top: 50px;
}

.parallax {
    margin-top:100px;
    background-image:url(/assets/images/fondoMeso.jpg);
    height:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.qeum-prop {
    margin-top: 60px;
}

.qp-prop {
    text-align: center;
    font-size: 32px;
    font-weight:650;
}

.subp-title {
    font-size:16px;
    font-weight: 600;
}

.subp-para {
    font-size: 15px;
    color:gray;
}

.col.center-align {
    text-align: center;
}

.qeum-image-props {
    width: 25%;
}

.qeum-margin-lat {
    margin-left:100px;
    margin-right:100px;
}

.img-shadow {
    width: 50%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px gray);
}

.para-reg {
    text-align: center;
    font-size: 20px;
    font-weight:650;
}

.explora-bk-props {
    background-color: rgb(1,99,59);
    text-align: center;
    height: 900px;
}

.explora-title-props {
    margin-top:20px;
    color:white;
    font-size: 27px;
    font-weight:500;
}

.explora-desc-props {
    color:white;
    font-size:15.1px;
    font-weight: 600;
    margin-top: 49px;
}

.carousel.custom-margin {
    padding-bottom: 50px;
}

.carousel-control-prev.bk-style {
    background-color: transparent;
    border-color: transparent;
    /*margin-left: -85px;*/
}

.carousel-control-next.bk-style {
    background-color: transparent;
    border-color: transparent;
    /*margin-right: -85px;*/
}

.explora-rev-title {
    color:white;
    font-size: 20px;
    font-weight: 700;
}

.fin-cr-props {
    margin-bottom: 300px;
}

.carousel-indicators.explora-bt-props {
    margin-bottom: -50px;
}

.custom-rounded-btn {
    border-radius: 400px;
    text-align: center;
}

.mi-props {
    text-align: center;
    font-size: 18px;
}

.custom-mi-margin {
    text-align: center;
    margin-top: 200px;
}

.mi-pc-props {
    height:500px;
}

.mi-pcp-props {
    width: 750px;
}

.col.custom-crs-props {
    margin-right: 100px;
}

.explora-bk-props.custom-two {
    height: 565px;
}

.d-block.be-img-props {
    width:100%;
}

.col.custom-crs-props.props-two {
    margin-top: 50px;
    margin-left:100px;
}

.carousel-control-prev-icon.prop-two {
    background-color: black;
}

.carousel-control-next-icon.prop-two {
    background-color: black;
}

.qp-prop.vtwo {
    color:white;
}

.mi-props.two {
    color:white;
}

.title-two-props {
    font-size: 26px;
}

.custom-align {
    text-align: center;
}

.snr-title {
    margin-top: 100px;
    font-size: 26px;
    font-weight: 600;
}

.snr-desc {
    font-size:16px;
}

.snr-img-props {
    margin-right: 560px;
}

.fondo-fin-props {
    background-color: rgb(3,71,50);
}

.p-footer-props {
    margin-top: 78px;
    margin-bottom: 78px;
    color:white;
    font-size:14px;
}

.custom-footer-text-props {
    text-align: center;
    color:rgb(3,71,50);
    font-size:14px;
    font-weight: bold;
}

.sutom-shape-two {
    height: 27px;
    color:transparent;
}

.noticias-title {
    font-size:30px;
    font-weight: bold;
}

.noticias-title-props {
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
}

.noticias-desc-props {
    margin-left: 20px;
    font-size:15px;
    color:gray;
}

.div-noticias-props {
    border-style:ridge;
}

.noticias-img {
    width: 320px;
}

.horarios-estilo-clase {
    font-size:26px;
    font-weight:700;
}

.horarios-img-style {
    width: 508px;
}

.horarios-img-style.left {
    width: 508px;
    margin-left:410px;
}

.horarios-img-style.right {
    width: 508px;
    margin-left:0px;
}